{% extends 'base.html' %}

{% block title %}Demo{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header" id="number-heading">
            Real time mnemonics
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter the number here..." name="number" id="number">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row top10">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default pos" id="n">
            <div class="panel-heading">
                <h4 class="panel-title">Nouns and pronouns</h4>
            </div>
            <ul class="list-group words">
                <li class="list-group-item">hello</li>
                <li class="list-group-item">hi</li>
                <li class="list-group-item">home</li>
                <li class="list-group-item">honey</li>
                <li class="list-group-item">hotel</li>
                <li class="list-group-item active">+ Add entry</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default pos" id="ad">
            <div class="panel-heading">
                <h4 class="panel-title">Adjectives and adverbs</h4>
            </div>
            <ul class="list-group words">
                <li class="list-group-item">wrapper</li>
                <li class="list-group-item">reaper</li>
                <li class="list-group-item">rated</li>
                <li class="list-group-item active">+ Add entry</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default pos" id="v">
            <div class="panel-heading">
                <h4 class="panel-title">Verbs</h4>
            </div>
            <ul class="list-group words">
                <li class="list-group-item">fuse</li>
                <li class="list-group-item">fuss</li>
                <li class="list-group-item">foam</li>
                <li class="list-group-item">funny</li>
                <li class="list-group-item">fit</li>
                <li class="list-group-item">front</li>
                <li class="list-group-item">frown</li>
                <li class="list-group-item active">+ Add entry</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default pos" id="oth">
            <div class="panel-heading">
                <h4 class="panel-title">Others</h4>
            </div>
            <ul class="list-group words">
                <li class="list-group-item">oops</li>
                <li class="list-group-item">hmm</li>
                <li class="list-group-item">yes</li>
                <li class="list-group-item">no</li>
                <li class="list-group-item">how</li>
                <li class="list-group-item">when</li>
                <li class="list-group-item active">+ Add entry</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}